.header-style {
    background-color: brown;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.brand {
    display: flex;
    justify-content: space-between;
}

.brand img {
    height: 60px;
    width: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul a:hover{
    color: rgb(255, 117, 117);
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#navbar li {
    margin: 0 10px;
}

.right-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 150px;
}
.right-nav li {
    margin: 0 10px;
}
@media (max-width: 768px) {
    .header-style { 
        padding: 5px;  /* Уменьшаем внутренний отступ */
    }

    .right-nav { 
        display: flex; /* Показываем скрытую правую часть навигации */
    }

    #navbar ul {
        flex-direction: column; /* Изменяем направление списков для мобильных устройств */
    }
    #navbar li { 
        margin: 5px 0;  /* Уменьшаем вертикальные отступы */
    }
}

