<link rel="stylesheet" href="../css/footer.css">

<footer>
    <div class="footer-brand">
        <h3>Новая жизнь</h3>
        <p>©️2024</p>
    </div>
    <div id="information">
        <p class="number">8 (800)123-45-67</p>
        <p class="email">mail@newlife.ru</p>
    </div>
    <div id="footer-nav">
        <ul>
            <li><a href="index.html">Главная ●</a></li>
            <li><a class="auth" href="signUP.html">Регистрация ●</a></li>
            <li><a class="auth" href="signIN.html">Авторизация ●</a></li>
            <li><a class="profile"href="profile.html">Профиль ●</a></li>
            <li><a href="find-animals.html">Найдено животное ●</a></li>
            <li><a href="lost-animals.html">Поиск</a></li>
        </ul>
    </div>
</footer>