<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>главная</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="header-container"></div>
    <h1 class="carusel-title">Недавние объявления</h1>
    <div class="carusel">
        
        <div class="strel"><a>←</a></div>
        <div class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Собака</h2>
            <h3>пропала вчера в 10 вечера на улице пушкина</h3>
            <div id="slides"></div>
            <button class="readmore">Читать больше</button>
        </div>
        <div id="hid" class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Кошка</h2>
            <h3>пропала вчера в 10 вечера на улице пушкина</h3>
            <div id="slides"></div>
            <button class="readmore">Читать больше</button>
        </div>
        <div id="hid" class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Таракан</h2>
            <h3>пропала вчера в 10 вечера на улице пушкина</h3>
            <div id="slides"></div>
            <button class="readmore">Читать больше</button>
        </div>
        <div id="hid" class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Собака</h2>
            <h3>пропала вчера в 10 вечера на улице пушкина</h3>
            <div id="slides"></div>
            <button class="readmore">Читать больше</button>
        </div>
        <div class="strel"><a>→</a></div>
       
    </div>
  
    <form action="" class="lifesearch">
        <h3>Быстрый поиск животного</h3>
        <div id="livesearch">
            <input type="text" id="searchInput" onkeyup="liveSearch()" placeholder="Поиск...">
            <div id="searchDropdown"></div>
          </div>
        <button type="button">Поиск</button>
    </form>

    
    <div class="facts">
        <h2 class="facts-title"> Наши достижения</h2>
        <div id="fact1">Помогли найти более 500 животных.
            <img src="" alt="">
        </div>
        <div id="fact2">Более трех лет способствуем возвращению питомцев к хозяевам.
            <img src="" alt="">
        </div>
        <div id="fact3">Все услуги оказываются бесплатно.
            <img src="" alt="">
        </div>
    </div>

    <div class="cards">
        <div id="card1">
            <img src="" alt="">
            <h3 class="street"></h3>
            <h3 class="phone"></h3>
            <h4 class="date"></h4>
            <p class="user-id"></p>
        </div>
        <div id="card2">
            <img src="" alt="">
            <h3 class="street"></h3>
            <h3 class="phone"></h3>
            <h4 class="date"></h4>
            <p class="user-id"></p>
        </div>
        <h3 class="cards-count"></h3>
    </div>

    <form action="" class="animal-search">
        <h3>Поиск</h3>
        <label for="steet">Район</label>
        <input type="text" name="street" id="street">
        <label for="steet">Вид животного</label>
        <input type="text" name="animal-type" id="animal-type">
        <label for="steet">Доп. информация</label>
        <input type="text" name="additional-info" id="additional-info">
        <button type="button">Поиск</button>
    </form>

    <h1 class="carusel-title">Отзывы</h1>
    <div class="carusel">
        
        <div class="strel"><a>←</a></div>
        <div class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Никита</h2>
            <div class="text">круто</div>
            <div id="slides"></div>
            <div class="date">20.10.2024</div>
        </div>
        <div id="hid" class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Костя</h2>
            <div class="text">весело</div>
            <div id="slides"></div>
            <div class="date">20.10.2024</div>
        </div>
        <div id="hid" class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Леша</h2>
            <div class="text">неплохо</div>
            <div id="slides"></div>
            <div class="date">20.10.2024</div>
        </div>
        <div id="hid" class="carusel-element">
            <img src="../images/logo.png" alt="Фотография отсутсвует">
            <h2>Рома</h2>
            <div class="text">сервис неплохой</div>
            <div id="slides"></div>
            <div class="date">20.10.2024</div>
        </div>
        <div class="strel"><a>→</a></div>
       
    </div>

    <form action="" class="subscribe-email">
        <h2>Подпишитесь на рассылку email</h2>
        <br>
        <input class="subscribe-email-inpute" type="email" name="" id="email" placeholder="email">
        <input type="checkbox" name="" id="personal-data"> <label>Согласие на обработку</label>
        <br>    
        <br>
        <button>Подписаться</button> 
    </form>

    <div id="footer-container"></div>
    <script src="../js/include.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>