<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="../css/style.css">
</head> 
<body>
    <div id="header-container"></div>
    <div class="profile-content">
        <div class="prof">
            <div>
                <img src="../images/avatar.jpg">
            </div>
            <div class="info">
                <div class="name">
                    <h3>Иван Иванов</h3>
                </div>
                <div class="tel">
                    <h4>+7(999)8887766</h4>
                    <button>Изменить</button>
                </div>
                <div class="email">
                    <h4>ivanov37@test.ru</h4>
                    <button>Изменить</button>
                </div>
            </div>
        </div>
    </div>




    <button type="submit" id="profile" onclick="auth()">Выйти</button>
    <div id="footer-container"></div>
    <script>
        function auth(){
            localStorage.setItem('isLoggedIn', 'false');
            window.location.href = "signIN.html";
        }
    </script>
    <script src="../js/include.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>