<div id="ads-admin" class="ads-admin">

    <div  class="active-button" onclick="ActiveCloseclickAdmin()" value="Активно"> Активно</div>

    <div id="hidden-element-active-admin">
        <button class="active-button">Сортировка по дате</button>
        <div class="active-ad">

            <h4>Район: --------------------------------------------------</h4>
            <h4>Дата добавления: -------------------------------------------------</h4>
            <h4>Доп информация: -----------------------------------------------------------</h4>
            <h4>Клеймо: ------------------------------------------------------------</h4>
            <h4>Фото:</h4> <img class="img-ads" src="/images/avatar.jpg">
            <br />
            <button>Удалить</button>
            <button>Редактировать</button>
            <select class="select-admin">
               <div><option   value="Активное">Активное</option>
                <option value="Архив">Архив</option>
                <option value="Найдено">Найдено</option>
            </select>
        </div>
        <div class="active-ad">

            <h4>Район: --------------------------------------------------</h4>
            <h4>Дата добавления: -------------------------------------------------</h4>
            <h4>Доп информация: -----------------------------------------------------------</h4>
            <h4>Клеймо: ------------------------------------------------------------</h4>
            <h4>Фото:</h4> <img class="img-ads" src="/images/avatar.jpg">
            <br />
            <button>Удалить</button>
            <button>Редактировать</button>
            <select class="select-admin">
                <div><option   value="Активное">Активное</option>
                 <option value="Архив">Архив</option>
                 <option value="Найдено">Найдено</option>
             </select>
        </div>
    </div>

    <div class="moderate-button" onclick="ModerateCloseclickAdmin()" value="Активно"> Модерация</div>
    <div id="hidden-element-moderate-admin">
        <button class="active-button">Сортировка по дате</button>
        <div class="moderation-ad">

            <h4>Район: -------</h4>
            <h4>Дата добавления: -------</h4>
            <h4>Доп информация: -------</h4>
            <h4>Клеймо: -------</h4>
            <h4>Фото: -------</h4>
            <button>Удалить</button>
            <button>Редактировать</button>
            <select class="select-admin">
                <div><option   value="Активное">Активное</option>
                 <option value="Архив">Архив</option>
                 <option value="Найдено">Найдено</option>
             </select>
        </div>
        <div class="moderation-ad">

            <h4>Район: -------</h4>
            <h4>Дата добавления: -------</h4>
            <h4>Доп информация: -------</h4>
            <h4>Клеймо: -------</h4>
            <h4>Фото: -------</h4>
            <button>Удалить</button>
            <button>Редактировать</button>
            <select class="select-admin">
                <div><option   value="Активное">Активное</option>
                 <option value="Архив">Архив</option>
                 <option value="Найдено">Найдено</option>
             </select>
        </div>
    </div>
    <div class="found-button" onclick="FoundCloseclickAdmin()" value="Активно"> Найдено</div>
    <div id="hidden-element-found-admin">
        <button class="active-button">Сортировка по дате</button>
    <div class="found-ad">

        <h4>Район: -------</h4>
        <h4>Дата добавления: -------</h4>
        <h4>Доп информация: -------</h4>
        <h4>Клеймо: -------</h4>
        <h4>Фото: -------</h4>
        <select class="select-admin">
            <div><option   value="Активное">Активное</option>
             <option value="Архив">Архив</option>
             <option value="Найдено">Найдено</option>
         </select>
    </div>
    <div class="found-ad">

        <h4>Район: -------</h4>
        <h4>Дата добавления: -------</h4>
        <h4>Доп информация: -------</h4>
        <h4>Клеймо: -------</h4>
        <h4>Фото: -------</h4>
        <select class="select-admin">
            <div><option   value="Активное">Активное</option>
             <option value="Архив">Архив</option>
             <option value="Найдено">Найдено</option>
         </select>
    </div>
</div>

<div  class="archive-button"onclick="ArchiveCloseclickAdmin()" value="Активно"> В архиве</div>
<div id="hidden-element-archive-admin">
    <button class="active-button">Сортировка по дате</button>
    <div class="archive-ad">

        <h4>Район: -------</h4>
        <h4>Дата добавления: -------</h4>
        <h4>Доп информация: -------</h4>
        <h4>Клеймо: -------</h4>
        <h4>Фото: -------</h4>
        <select class="select-admin">
            <div><option   value="Активное">Активное</option>
             <option value="Архив">Архив</option>
             <option value="Найдено">Найдено</option>
         </select>
    </div>
    <div class="archive-ad">

        <h4>Район: -------</h4>
        <h4>Дата добавления: -------</h4>
        <h4>Доп информация: -------</h4>
        <h4>Клеймо: -------</h4>
        <h4>Фото: -------</h4>
        <select class="select-admin">
            <div><option   value="Активное">Активное</option>
             <option value="Архив">Архив</option>
             <option value="Найдено">Найдено</option>
         </select>
    </div>
</div>
</div>