<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="../css/style.css">
</head> 
<body>
    <div id="header-container"></div>

    <h1>Профиль</h1>
    <button type="submit" id="sign-in" onclick="auth()">Выйти</button>
    <div id="footer-container"></div>
    <script>
        function auth(){
            localStorage.setItem('isLoggedIn', 'false');
            window.location.href = "signIN.html";
        }
    </script>
    <script src="../js/include.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>