<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Животные</title>
    <link rel="stylesheet" href="../css/style.css">

</head> 
<body>
    <div id="header-container"></div>

    <h1>Поиск</h1>

    <form action="" class="animal-search">
        <label for="steet">Район</label>
        <input type="text" name="street" id="street">
        <label for="steet">Вид животного</label>
        <input type="text" name="animal-type" id="animal-type">
        <label for="steet">Доп. информация</label>
        <input type="text" name="additional-info" id="additional-info">
        <button type="button">Поиск</button>
    </form>

    <div id="footer-container"></div>
    <script src="../js/script.js"></script>
    <script src="../js/include.js"></script>
</html>