<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="../css/style.css">
</head> 
<body>
    <div id="header-container"></div>
    <div class="login">
        <form action="profile.html" class="sign-in">
            <h2>Вход</h2>
            <label for="email">Email</label>
            <input id="email-signIN" type="email" placeholder="test@test.ru" required=""><br/>
            <label for="pass">Пароль</label>
            <input type="password" placeholder="Введите пароль" required="">
            <button id="sign-in" onclick="auth2()">Войти</button>
            <div class="links">
                <a href="#">Забыли пароль?</a>
                <a href="signUP.html">Регистрация</a>
            </div>
        </form>
    </div>
    <div id="footer-container"></div>
    <script>
        function auth2(){
            var log = document.getElementById('email-signIN');
            localStorage.setItem('isLoggedIn', 'true');
            localStorage.setItem('login', log);
        }
    </script>
    <script src="../js/include.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>